body {
    background-color: #222222;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.maintenanceimg {
    width: 1500px;
    margin-top: 20px;
}

.background {
    margin: 200px;
    height: 500px;
    border-radius: 30px;
    background-color: #2f2f2f;
}